<!-- ------------------------   INFINITE SCROLL    ------------------------ -->
  <div 
    class="search-results posts-container"
    infiniteScroll
    [infiniteScrollDistance]="2"
    [infiniteScrollThrottle]="50"
    (scrolled)="onScroll()">

    <!-- ------------------------   RENDER POSTS   ------------------------ -->
    <div *ngFor="let post of posts" class="posts">

      <!-- Render the IMAGE Posts -->
      <div *ngIf="post.type==='IMAGE'">
        <div class="card">
          <p class="card-text username"><i class="fa fa-user-circle" aria-hidden="true"></i> {{post.author}} <span class="username-text">{{post.username}}</span> {{post.date}}</p>

          <div class="card-body img-full">
            <img class="card-img-top img-full" 
                [src]="post.url" 
                [alt]="post.title">
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
          </div>

          <div class="post-footer">
            <a href="{{post.url}}" 
            class="card-link view-btn card-btns">
            <i class="fa fa-eye" aria-hidden="true"></i>
              View 
             </a>

             <a [routerLink]="['edit', post.id]" 
             class="card-link edit-btn card-btns">
             <i class="fa fa-pencil" aria-hidden="true"></i>
             Edit 
            </a>

            <button class="card-link delete-btn card-btns"
            [disabled]="posts.length < 1"
            (click)="onDeletePost(post.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
            </button>
          </div>
        </div>
      </div>

      <!-- Render the VIDEO Posts -->
      <div *ngIf="post.type==='VIDEO'" class="posts">
        <div class="card" id="video-posts">
          <p class="card-text username"><i class="fa fa-user-circle" aria-hidden="true"></i> {{post.author}} <span class="username-text">{{post.username}}</span> {{post.date}}</p>

          <div class="card-body video-full">
            <iframe [src]="post.url" 
                    frameborder="0" 
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen>
            </iframe>
          </div>
          <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
          </div>

          <div class="post-footer">
            <a href="{{post.url}}" 
            class="card-link view-btn card-btns">
            <i class="fa fa-eye" aria-hidden="true"></i>
               View 
              </a>

              <a [routerLink]="['edit', post.id]" 
              class="card-link edit-btn card-btns">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Edit 
            </a>

            <button class="card-link delete-btn card-btns"
            [disabled]="posts.length < 1"
            (click)="onDeletePost(post.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
            </button>
          </div>
        </div>
      </div>
    
      <!-- Render the LINK Posts -->
      <div *ngIf="post.type==='LINK'" class="posts">
        <div class="card" id="link-posts">
          <p class="card-text username"><i class="fa fa-user-circle" aria-hidden="true"></i> {{post.author}} <span class="username-text">{{post.username}}</span> {{post.date}}</p>

          <div class="card-body link-body">
            <h5 class="card-title">{{post.title}}</h5>
          </div>

          <div class="post-footer">
            <a href="{{post.url}}" 
            class="card-link view-btn card-btns">
            <i class="fa fa-eye" aria-hidden="true"></i>
               View 
              </a>

              <a [routerLink]="['edit', post.id]" 
              class="card-link edit-btn card-btns">
              <i class="fa fa-pencil" aria-hidden="true"></i>
              Edit 
            </a>

            <button class="card-link delete-btn card-btns"
            [disabled]="posts.length < 1"
            (click)="onDeletePost(post.id)">
            <i class="fa fa-trash" aria-hidden="true"></i>
                    Delete
            </button>
          </div>
        </div>
      </div>

    </div>

</div>

<!-- ------------------------   ADD SPINNER    ------------------------ -->
<div class="row pb-5">
  <div class="col-md-12 p-5">
    <ngx-spinner
      bdOpacity = 0.9
      bdColor = ""
      size = "default"
      color = "rgb(255, 94, 0)"
      type = "ball-pulse-sync"
      [fullScreen] = "false">
    </ngx-spinner>
  </div>
</div>


<!-- ------------------------   NO MORE POSTS ALERT    ------------------------ -->
<div *ngIf="!notEmptyPost" class="row pb-5">
  <div class="col-md-12 d-flex justify-content-center">
    <div class="text-muted h6 alert alert-secondary p-2">
      No more post to show!
    </div>
  </div>
</div>