
.posts-container {
    padding-top: 20px;
}
.posts {
    width: 70%;
    margin: 0 auto;
    color: #fff;
}

.card {
    background-color: #121d278f;
    border: 0.5px solid #000;
    width: 770px;
    margin-bottom: 15px;
}
.card:hover {
    transform: scale(1);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    animation-name: example;
    animation-duration: 0.25s;
    border-left: 8px solid rgb(255, 94, 0);
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
.username {
    margin: 15px 0px 15px 15px;
}
.username-text {
    color: rgb(255, 136, 0);
}
.card-body {
    border: 0.5px solid #000;
    border-radius: 0px 0px 20px 20px;
    width: 80%;
    margin: 0 auto;
    background-color: #121d27e0;
    cursor: pointer;
}
.link-body {
    border-radius: 20px;
}
.img-full {
    padding: 0px;
    border-radius: 20px 20px 0px 0px;
}
img {
    height: 300px;
}
.video-full {
    padding: 0px;
    border-radius: 20px 20px 0px 0px;
}
#video-posts {
    margin-left: -116px;
}
iframe {
    width: 100%;
    height: 300px;
    border-radius: 20px 20px 0px 0px;
    margin-bottom: -5px;
}
#link-posts {
    margin-left: -116px;
}
.post-footer {
    width: 78%;
    margin: 10px auto;
}
.card-btns {
    margin-right: 31%;
}
.delete-btn {
    border: 0px;
    color: rgb(255, 0, 0);
    background-color: #121d2700;
    margin-right: 0px;
    
}
.fa-trash {
    color: rgb(255, 0, 0);
}
.edit-btn, .fa-pencil, .view-btn, .fa-eye {
    color: #FFF;
}

i {
    color: rgb(255, 136, 0);
}