<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
    <a class="navbar-brand"  [routerLink]="['home']"><i class="fa fa-hashtag" aria-hidden="true"></i> InternGram</a>
  <div class="collapse navbar-collapse nav-links" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" id="home-link" [routerLink]="['home']"><i class="fa fa-home" aria-hidden="true"></i> Home Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="new-link" [routerLink]="['edit']"><i class="fa fa-plus-square" aria-hidden="true"></i> New Post</a>
      </li>
    </ul>
  </div>
</nav>
<div class="start-line"></div>


<main class="main-content">
  <div class="container">
  <router-outlet></router-outlet>
  </div>
</main>

<footer>
  <div>
    <a href="https://www.linkedin.com/in/annapopovva/">
      <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>
    </a>

    <a href="https://bitbucket.org/annapopovva/">
      <i class="fa fa-bitbucket-square fa-2x" aria-hidden="true"></i>
    </a>
  </div>

  <div>
    <p>Copyright © 2020 Anna Popova. All rights reserved.</p>
  </div>

  <div>
    <a href="https://www.instagram.com/annapopovva/">
      <i class="fa fa-instagram fa-2x" aria-hidden="true"></i>
    </a>

    <a href="https://www.facebook.com/annapopovva">
        <i class="fa fa-facebook-square fa-2x" aria-hidden="true"></i>
    </a>
  </div>
</footer>