/* -------------------------------------------------------------------------------------------- */
@import url('https://fonts.googleapis.com/css?family=Tomorrow&display=swap');

.start-line {
    background-color: rgba(57, 78, 99, 0.685);
    height: 10px;
    width: 100%;
    position: fixed;
    margin-bottom: 5px;
}
.navbar {
    position: fixed;
    height: 80px;
}
.navbar-brand {
    font-family: "Tomorrow";
    font-weight: 500;
    font-size: 30px;
    margin-left: 100px;
}
.navbar-brand:hover {
    color: rgb(248, 72, 2);
}
.nav-links {
    margin-left: 700px;
    font-weight: 500;
}
.nav-links:active {
    color: rgb(248, 72, 2);
}
#home-link:hover {
    color: rgb(248, 72, 2);
}
#new-link:hover {
    color: rgb(248, 72, 2);
}
i {
    color: rgb(248, 72, 2);
}
.fa-2x {
    margin-right: 20px;
}
footer {
    background-color:#121d27e0;
    min-height: 100px;
    padding-top: 30px;
}
footer div {
    display: inline-block;
    width: 33%;
    text-align: center;
    color: #FFF;
}


