/* You can add global styles to this file, and also import other style files */
.main-content {
  background-color: #15202be0;
}
.container {
    max-width: 500px;
    margin: 5em auto;
    margin-bottom: 0px;
  }
  
  .navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    top: 0;
    border-width: 0 0 1px;
  }
  
  .collapse:not(.show) {
    display: block !important;
  }