.form-container {
    padding-top: 20px;
}
form {
    margin: 0 auto;
    width: 60%;
    padding-top: 10px;
    background-color: #121d278f;
    border: 0.5px solid #000;
}

h3 {
    color: #fff;
    margin-left: 53px;
    margin-bottom: 15px;
}

.color-invalid.ng-invalid.ng-touched {
    border: 1px solid red;
    border-radius: 3px;
}

.form-row {
    margin: 0 auto;
    width: 100%;
}
legend {
    color: #fff;
    margin-left: 53px;
}
.input-group {
    width: 552px;
    height: 50px;
    margin: 0 auto;
    margin-left: 50px;
}
.input-group-text {
    color:  rgb(248, 72, 2);
}
.fields {
    height: 50px;
    width: 552px!important;
}
#textarea {
    width: 552px!important;
    margin-left: 50px;
    margin-bottom: 15px;
}
textarea {
    resize: none;
    padding-top: 13px;
}
.alert {
    width: 552px;
    margin-left: 50px;
}
#title-alert {
    width: 552px!important;
    margin-top: 15px;
    margin-left: 50px;
}
.save-btn {
    width: 21%;
    height: 40px;
    margin-top: -10px;
    margin-left: 56px;
    margin-bottom: 15px;
    background-color: rgb(255, 94, 0);
    color: #fff;
}
i {
    color: rgb(255, 136, 0);
}
