<div class="form-container">
  <form *ngIf="formGroup"
        [formGroup]="formGroup"
        (ngSubmit)="onSave()"
        novalidate>
  
      <div class="form-row">
  
        <div class="form-group col-md-6">
          <h3>Share a post</h3>

<!-- ------------------------   AUTHOR INFORMATION    ------------------------ -->
          <fieldset class="user-info">
            <legend><i class="fa fa-user-circle" aria-hidden="true"></i> Author Info:</legend>

            <!-- Name input -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3"> Post author's name </span>
                </div>
                <input type="text" 
                       formControlName="author" 
                       class="form-control color-invalid fields"  
                       aria-describedby="basic-addon3"
                       placeholder="Enter your name here...">
            </div>
            <!-- Name alert -->
            <div class="alert alert-danger info-alert"
                  role="alert"
                  *ngIf="!formGroup.get('author').valid && formGroup.get('author').touched">
                  Please enter your full name!
            </div>
  
            <!-- Username input -->
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon3">@authorUsername</span>
                </div>
                <input type="text" 
                        formControlName="username" 
                        class="form-control color-invalid fields"  
                        aria-describedby="basic-addon3"
                        placeholder="Enter your @username here...">
            </div>
            <!-- Username alert -->
            <div class="alert alert-danger info-alert"
                  role="alert"
                  *ngIf="!formGroup.get('username').valid && formGroup.get('username').touched">
                  Please enter your @username!
            </div>
          </fieldset>

<!-- ------------------------   POST INFORMATION    ------------------------ -->
          <fieldset class="post-info">
            <legend><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Post Info:</legend>

            <!-- Title input -->
            <div class="input-group" id="textarea">
              <div class="input-group-prepend">
                <span class="input-group-text" for="title"> Title of the post </span>
              </div>
              <textarea 
                formControlName="title" 
                id="title"
                placeholder="What do you want to share..." 
                class="form-control color-invalid fields" 
                aria-label="With textarea">
              </textarea>
            </div>
            <!-- Title alert -->
            <div class="alert alert-danger" id="title-alert"
                role="alert"
                *ngIf="!formGroup.get('title').valid && formGroup.get('title').touched">
                Please enter title for your post!
            </div>
        
            <!-- Type input -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01"> Type of the post </label>
              </div>
              <select class="custom-select color-invalid fields " formControlName="type" id="inputGroupSelect01">
                <option [ngValue]="null" disabled>Choose the type of the URL content...</option>
                <option value="IMAGE">IMAGE</option>
                <option value="VIDEO">VIDEO</option>
                <option value="LINK">LINK</option>
              </select>
            </div>
            <!-- Type alert -->
            <div class="alert alert-danger" 
                  role="alert"
                  *ngIf="!formGroup.get('type').valid && formGroup.get('type').touched">
                  Please select type!
            </div>
    
            <!-- Url input -->
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon3"> Enter post's URL </span>
              </div>
              <input type="url" 
                formControlName="url" 
                class="form-control color-invalid fields" 
                id="basic-url" 
                aria-describedby="basic-addon3"
                pattern="https?://.+"
                placeholder="Paste the URL of the content here...">
            </div>
    
            <!-- Url alert -->
            <div class="alert alert-danger" 
                role="alert"
                *ngIf="!formGroup.get('url').valid && formGroup.get('url').touched">
                Please enter valid URL adress!
            </div>
          </fieldset>

      </div>
    </div>

    <!-- Save post -->
    <button type="submit" 
            class="btn save-btn"
            [disabled]="!formGroup.valid">
            Save Your Post
    </button>
   
  </form>
</div>